.chat {
  border-radius: 5px;
  position: relative;
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    color: #42b983;
  }

  .chatContent {
    width: 75%;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    background: white;
    height: calc(100vh - 340px);
    overflow-y: scroll;
    margin: 0px;
    padding-bottom: 40px;
    li {
      display: flex;
      align-items: flex-end;
      width: 100%;
      .loginImgBlock {
        //display: inline-block;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        width: 46px;
        height: 46px;
        margin-left: 10px;
        margin-bottom: 5px;

        .loginImg {
          //float: left;
          width: 36px;
          height: 36px;
          background: white;
          border-radius: 50%;
          padding: 5px;
          img {
            opacity: 0.5;
          }
        }
        .userImg {
          float: right;
          width: 36px;
          height: 36px;
          background: white;
          border-radius: 50%;
          padding: 5px;
          margin-top: 0px;
          position: relative;
          overflow: hidden;
          img {
            opacity: 1;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
      &.ownMessage {
        text-align: right;
        flex-direction: row-reverse;
        margin-bottom: 5px;
        .loginImgBlock {
          margin: 0;
          margin-right: 10px;
          margin-top: 5px;
        }
        .chatMessage {
          border-radius: 10px 10px 0px 10px;
          .messageUser {
            text-align: right;
            display: none;
          }
          &:before {
            left: auto;
            right: -15px;
            border-radius: 0px 0px 0px 0px;
          }
          &:after {
            position: absolute;
            left: auto;
            right: -15px;
            border-radius: 0px 0px 0px 20px;
          }
        }
      }
      .chatMessage {
        position: relative;
        word-break: break-all;
        display: inline-block;
        background: #277661;
        color: white;
        //padding:20px;
        text-align: left;
        margin: 5px 20px;
        padding: 5px 20px;
        border-radius: 10px 10px 10px 0px;
        // margin-right: 20px;
        max-width: calc(100% - 120px);

        .messageUser {
          margin: 0px;
          font-weight: bold;
          font-size: 16px;
        }
        .message {
          font-size: 16px;
          text-align: left;
          white-space: pre-wrap          ;
          overflow: hidden;
          margin: 0;
          margin-top: 5px;
          line-height: 20px;
          display: inline-block;
          font-family: $Helvetica;
        }
        .messageTime {
          font-size: 12px;
          text-align: right;
          opacity: 0.7;
          margin-left: 20px;
          float: right;
          line-height: 20px;

          margin-top: 5px;
        }

        &:before {
          content: " ";
          width: 15px;
          height: 15px;
          background: #277661;
          position: absolute;
          left: -15px;
          bottom: 0px;
          border-radius: 0px 0px 0px 0px;
        }
        &:after {
          content: " ";
          width: 15px;
          height: 15px;
          background: white;
          position: absolute;
          left: -15px;
          bottom: 0px;
          border-radius: 0px 0px 20px 0px;
        }
      }
    }
  }
  .messageForm {
    background: white;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #27766122;
    text-align: right;
    width: 75%;
    .form-control {
      resize: none;
      width: calc(100% - 20px);

      outline: none !important;
      border: none;

      padding: 10px;

      height: 46px;
      font-family: $Helvetica;
      font-size: 14px;
      margin-bottom: 0px;
    }
    //position: absolute;
    button.sendMessage {
      margin: 0px;

      border-radius: 0px 0px 5px 5px;
    }
  }
  .chatStatus {
    background: linear-gradient(to top, #ffffffff 0%,  #ffffffcc 50% , #ffffff00 100%);
    height: 30px;
    position: absolute;
    bottom: 0;
    bottom: 107px;
    width: calc(75% - 4px);
    overflow: hidden;
    
    div{
        display:flex;
        width:75%;
        position: absolute;
        bottom:5px;
        left:10px;
    } 
    span{
        color:#888;
        margin-right: 5px;
        font-size: 12px;;
        height:12px;
        //overflow: hidden;
    }
  }
}
.userOnline {
  display: inline-block;
  background: $green;
  width: 24%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;

  //margin-left: 2%;
  height: calc(100vh - 193px);
  h2 {
    color: #ffffffcc;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
  li {
    overflow: hidden;
    color: #ffffffcc;
    list-style: none;
    margin: 0px 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    height: 22px;
    line-height: 20px;
    // padding:15px;
  }
}

@media screen and (max-width: 800px) {
  .chat {
    .chatContent {
      width: 100%;
      height: calc(100vh - 400px);
    }
    .messageForm {
      width: 100%;
    }
    .userOnline {
      width: 100%;
      position: relative;
      height: auto;
      margin-top: 20px;
    }


    .chatStatus {
      
        top:calc(100vh - 390px);

        width: 100%;
  
      }


  }
}
