.userPage{
  background:white;
  height: calc(100vh - 194px);
  border-radius: 5px;
  padding:20px;
.selectImg {
    background-color: $background;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    cursor:pointer;
    border-radius:5px;
    p{
        text-align:center;
        font-size:12px;
        background:$green;
        width:160px;
        text-align: center;
        margin:auto;
        color:white;
        border-radius: 5px;;
        line-height:18px;
        margin-top:10px;
        display:inline-block;
    }
    img{
        width:120px;
        height:120px;
        position: absolute;
        padding:40px;
        margin:auto;
        left:0;
        opacity:0.5;
    }
  }
  .changeImg{
    border-radius: 5px;;
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    cursor:pointer;
    text-align: center;
    p{
        text-align:center;
        font-size:12px;
        background:$green;
        width:160px;
        text-align: center;
        margin:auto;
        color:white;
        border-radius: 5px;;
        line-height:18px;
        margin-top:10px;
        opacity:0.7;
        display:inline-block;

    }
    img{
      border-radius: 5px;;
        display:inline-block;
        text-align: center;
        width:auto;
        height:auto;
        position: absolute;
        padding:0px;
        left: 0;
        right: 0;
        top:0;
        bottom:0;
        opacity:1;
        margin: auto;
        max-width:100%;
        max-height:100%;
    }
  }
  .inputFile {
    display:none;
  }

  .modalUploadLogo{
    position:absolute;
    width:auto;
    height:auto;
    max-width: 500px;
    max-height:500px;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    border:2px solid white;
    background:white;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .errorMsg{
    color:$red;
    width: 200px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
  }
}