//colors

$green-dark: #112c25;
$green: #277661;
$green-light: #189e7a;
$red: #540000;
$background: #27766122;
$Helvetica: Helvetica;
@font-face {
  font-family: Helvetica; /* Имя шрифта */
  src: url(/../assets/helvetica.woff) format("woff");
  src: url(/../assets/helvetica.ttf) format("truetype");
  src: url(/../assets/helvetica.eot) format("eot");
  font-weight: normal;
  font-style: normal;
}

// $wu-ico-911 : 'wu-ico-911', $stack-sans-serif;
// $stack-CirceBold: 'SegoeUI-SemiBold', $stack-sans-serif;
// $stack-PTSansBold: 'PTSansBold', $stack-sans-serif;
// $stack-PTSansRegular: 'PTSansRegular', $stack-sans-serif;
// $stack-Georgiai: 'georgiai', $stack-sans-serif;
